.storeProduct{
    font-size: 2rem;
}
.storeProductIMG{
    text-align: center;
}
.storeProductIMG img{
    width: 100%;
    height: auto;
    max-width: 45rem;
    min-height: 47rem;
    object-fit: contain;
}
.storeProductINFO{
    text-align: center;
    height: 13rem;
    list-style-position: inside;
}
.buttonAndMSG{
    text-align: center;
    height: 6rem;
}
.buttonAndMSG button{
    background-color: black;
    color: white;
    font-size: 1.4rem;
    width: 8rem;
    height: 3rem;
    border-radius: 10rem;
    border-block-start: 0;
    border-block-end: 0;
    border-inline-start: 0;
    border-inline-end: 0;
    outline: 0;
}