*{
    box-sizing:border-box;margin:0;padding:0;
    font-family: 'Quicksand', sans-serif;
}
h2{
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.sale_items{
    width: 100%;
}