*{
    box-sizing:border-box;margin:0;padding:0;
    font-family: 'Quicksand', sans-serif;
}
.main_header{
    background: black;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    position: fixed;
    top: 0;
    margin-bottom: 50px;
    color: ghostwhite;
    text-align: center;
}
.main_h1{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}