<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Righteous&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" media="all and (max-width:599px)" href="./estilos_pantalla_chica.css" />
    <title>stk2</title>
</head>
<body>
    <header>
        <div id="headerMarca"><a href="index.html"><h1>stk2</h1></a></div>
        <nav id="headerNav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="in.html">Ingresar</a></li>
                <li><a href="push.html">Cargar producto</a></li>
            </ul>
        </nav>
    </header>
    <section id="cont">
        <div id="contTitle"><h2>Productos</h2>
        </div>
        <div class="storeGallery">
            <div class="storeProduct">
                <div class="storeProductIMG">
                    <img src="./img/0/image.jpg" alt="Microprocessor AMD">
                </div>
                <div class="storeProductINFO">
                <ul>
                    <li class="storeProductMark">Marca del producto</li>
                    <li class="storeProductModel">Modelo del producto</li>
                    <li class="storeProductPrice">Precio del producto</li>
                    <li class="storeProductSKU">SKU del producto</li>
                    <li class="storeProductAvailable">Disponibilidad del producto</li>
                </ul>
                </div>
                <div class="buttonAndMSG">                                   
                    <button type="buttonBuy">Comprar</button>
                    <button type="buttonDetails">Ver detalle</button>
                    <p>Aca van los dos botones y el mensaje</p>
                </div>
            </div>
            <div class="storeProduct">
                <div class="storeProductIMG">
                    <img src="./img/1/image.jpg" alt="Motherboard">
                </div>
                <div class="storeProductINFO">
                <ul>
                    <li class="storeProductMark">Marca del producto</li>
                    <li class="storeProductModel">Modelo del producto</li>
                    <li class="storeProductPrice">Precio del producto</li>
                    <li class="storeProductSKU">SKU del producto</li>
                    <li class="storeProductAvailable">Disponibilidad del producto</li>
                </ul>
                </div>
                <div class="buttonAndMSG">                    
                    <button type="buttonBuy">Comprar</button>
                    <button type="buttonDetails">Ver detalle</button>
                    <p>Aca van los dos botones y el mensaje</p>
                </div>
            </div>
            <div class="storeProduct">
                <div class="storeProductIMG">
                <img src="./img/2/image.jpg" alt="NVMe disk">
                </div>
                <div class="storeProductINFO">
                <ul>
                    <li class="storeProductMark">Marca del producto</li>
                    <li class="storeProductModel">Modelo del producto</li>
                    <li class="storeProductPrice">Precio del producto</li>
                    <li class="storeProductSKU">SKU del producto</li>
                    <li class="storeProductAvailable">Disponibilidad del producto</li>
                </ul>
                </div>
                <div class="buttonAndMSG">                    
                    <button type="buttonBuy">Comprar</button>
                    <button type="buttonDetails">Ver detalle</button>
                    <p>Aca van los dos botones y el mensaje</p>
                </div>
            </div>
            <div class="storeProduct">
                <div class="storeProductIMG">
                    <img src="./img/3/image.jpg" alt="Case">
                </div>
                <div class="storeProductINFO">
                <ul>
                    <li class="storeProductMark">Marca del producto</li>
                    <li class="storeProductModel">Modelo del producto</li>
                    <li class="storeProductPrice">Precio del producto</li>
                    <li class="storeProductSKU">SKU del producto</li>
                    <li class="storeProductAvailable">Disponibilidad del producto</li>
                </ul>
                </div>
                <div class="buttonAndMSG">                    
                    <button type="buttonBuy">Comprar</button>
                    <button type="buttonDetails">Ver detalle</button>
                    <p>Aca van los dos botones y el mensaje</p>
                </div>
            </div>
            <div class="storeProduct">
                <div class="storeProductIMG">
                <img src="./img/4/image.jpg" alt="Power supply">
                </div>
                <div class="storeProductINFO">
                <ul>
                    <li class="storeProductMark">Marca del producto</li>
                    <li class="storeProductModel">Modelo del producto</li>
                    <li class="storeProductPrice">Precio del producto</li>
                    <li class="storeProductSKU">SKU del producto</li>
                    <li class="storeProductAvailable">Disponibilidad del producto</li>
                </ul>
                </div>
                <div class="buttonAndMSG">                    
                    <button type="buttonBuy">Comprar</button>
                    <button type="buttonDetails">Ver detalle</button>
                    <p>Aca van los dos botones y el mensaje</p>
                </div>
            </div>
            <div class="storeProduct">
                <div class="storeProductIMG">
                    <img src="./img/5/image.jpg" alt="RAM memory">
                </div>
                <div class="storeProductINFO">
                <ul>
                    <li class="storeProductMark">Marca del producto</li>
                    <li class="storeProductModel">Modelo del producto</li>
                    <li class="storeProductPrice">Precio del producto</li>
                    <li class="storeProductSKU">SKU del producto</li>
                    <li class="storeProductAvailable">Disponibilidad del producto</li>
                </ul>
                </div>
                <div class="buttonAndMSG">                    
                    <button type="buttonBuy">Comprar</button>
                    <button type="buttonDetails">Ver detalle</button>
                    <p>Aca van los dos botones y el mensaje</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>