<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" media="all and (max-width:599px)" href="./estilos_pantalla_chica.css" />
    <title>stk2 - push</title>
</head>
<body>
    <header>
        <div id="headerMarca"><a href="index.html"><h1>stk2</h1></a></div>
        <nav id="headerNav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="in.html">Ingresar</a></li>
                <li><a href="push.html">Cargar producto</a></li>
            </ul>
        </nav>
    </header>
    <section id="cont">
        <h2>Contacto</h2>
        <div id="formulario">
          <form >
            <input class="entradaFormulario" type="text" placeholder="Nombre" required/>
            <input class="entradaFormulario" type="text" placeholder="Apellido" required />
            <input class="entradaFormulario" type="email" placeholder="Email" required />
            <input class="entradaFormulario" type="tel" placeholder="Telefono" required minlength="8" maxlength="14"/>
            <input class="entradaFormulario" type="submit" value="Enviar"/>
          </form>
        </div>
    </section>

</body>
</html>