*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    background: #142850 ;
    color: #00909e;
}
.main_div{
    display: flex;
    margin: auto;
    width: 400px;
    height: 800px;
    align-items: center;
    flex-wrap: wrap;
}
.info_item{
    width: 30%;
    height: 80%;
}
.img_item {
    display: flex;
    align-items: center;
    width: 70%;
    height: 80%;
}

.info_item span{
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: calc(100%/4);
    word-break: break-all;
}
.img_item img{
    width: 100%;
    height: auto;
}

.chart_checkout{
    display: flex;
    width: 100%;
    height: 10%;
}
.chart_checkout form{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
#quantity_buy{
    width: 70%;
    height: 50%;
    text-align: right;
    color: #dae1e7;
}
#button_buy{
    width: 30%;
    height: 50%;
    margin: 4px;
    border: #dae1e7 1px solid;
    color: #dae1e7;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}