<ng-container *ngIf="StoreProduct">
    <section id="cont">
        <div id="contTitle">
            <h2>{{StoreProduct.item_model}}</h2>
        </div>  
        <div class="storeGallery">
            <div class="storeProduct">
                <div class="storeProductIMG">
                    <img src="{{StoreProduct.item_img}}" alt="{{StoreProduct.item_model}}" >
                </div>
                <div class="storeProductINFO">
                <ul>
                    <li class="storeProductMark">Marca: {{StoreProduct.item_mark}}</li>
                    <li class="storeProductModel">Descripción: {{StoreProduct.item_model}}</li>
                    <li class="storeProductPrice">Precio: {{StoreProduct.item_price}}</li>
                    <li class="storeProductSKU">SKU: {{StoreProduct.item_sku}}</li>
                    <li class="storeProductAvailable">Cantidad disponible: {{StoreProduct.item_available}}</li>
                </ul>
                </div>
                <div class="buttonAndMSG">                    
                    <button type="buttonBuy" (click)="clickCompra()" >Comprar</button>
                    <p>{{buttonMSG}}</p>
                </div>
            </div>   
        </div>       
    </section>   
</ng-container>  